body {
  font-family: "Roboto", sans-serif;
}


/*===========================
  header and header video
============================ */

.btnn{
    position: relative;
    left: 45%;
  width: 130px;
  height: 45px;
  top: 200px;
  border: none;
  background-color: #0f3830;
  font-weight: bold;
  color: white;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
}

.btn1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.btn1:hover {
  background-color: #4CAF50;
  color: white;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

}
h1.hs{
  position: relative;
  top: 250px;
  color: white;
  font-size: 80px;
  text-align: center;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) 
{
  header video {
    display: none;
  }
}



/*===========================
  Menu and Navigation button
============================ */

body .header{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

header{
  width: 100%;
  background: #000;
}

.logo{
  float: left;
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 30px;
}

header ul{
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header ul li{
  list-style: none;
  position: relative;
  padding: 10px 0;
  transition: 0.5s;
  box-sizing: border-box;
  border-right: 1px solid rgba(255,255,255,.2);
}

header ul li:hover{
  background: #2196f3;
}

header ul li:last-child{
  border-right: none;
}

header ul li a{
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
}



/*===========================
  Menu and Navigation button
============================ */

/* footer*/
footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
footer{
    background: #222;
    color: #fff;
    padding: 60px 0;
}
.containe{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
footer li{
    list-style: none;
    line-height: 2;
}
footer a{
    text-decoration: none;
    color: #ccc;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
    position: relative;
    right:  20px;
}
.items p{
    margin: 1.2em 0;
    font-size: 20px;
}
.social{
    display: flex;
}
.social a{
    height: 30px;
    width: 30px;
    background: #383535;
    border-radius: 5px;
    margin:10px 5px;
    text-align: center;
}
.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.items h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -4px;
    left: 0;
}
footer hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
}
@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}

}


/*===========================
  signup and signin
============================ */

.signup-box {
  width: 360px;
  height: 580px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1.rg {
  text-align: center;
  padding-top: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
button.rgb{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}

p.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: white;
  font-weight: bold;
}



