
h1 {
    color: white;
    font-size: 72px;
    text-align:center;
    font-family: "Lucida Handwriting", "Brush Script MT", Cursive;
}
body {
    
    background-image: url("Bgm1.png")
}
h2 {
    color: gold;
    font-size: 72px;
    text-align:center;
    font-family: "Papyrus", "Copperplate", Fantasy;
}

h3{
    color: white;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
}
p{
    color: white;
    text-align:center;
    font-size: 25px;
}
img {
    margin: auto;
}

div {
    margin: auto;
}
h4 {
    color: #ff4545;
    font-size: 72px;
    text-align: center;
    /*font-family: "Papyrus", "Copperplate", Fantasy;*/
    font-family: "Lucida Handwriting", "Brush Script MT", Cursive;
}
label {
    color:white;
}