
h1 {
    color: gold;
    font-size: 72px;
    text-align:center;
    font-family: "Papyrus", "Copperplate", Fantasy;
    
}
body {
    
    background-image: url("Background.png")
}
img {
    max-width: 100%;
    height: auto;
    
}
div{
    margin: auto;
}
h4{
    color: gold;
    font-size: 20px;
    text-align:center;
    font-family: "Papyrus", "Copperplate", Fantasy;
    vertical-align: text-bottom;
}

